/*MENU*/
/*---EFEITO LINHA---*/
.menu{
  font-family: 'Abel', sans-serif;
}
.menu li{
  list-style: none;
  display: inline-block;
}

.menu li a{
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 18px;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 3px 0px;
  text-transform: uppercase;
}
.menu li a:before{
  content: '';
  width: 150px;
  position: absolute;
  border-bottom: 8px solid white;
  bottom: 0;
  right: 350px;
  transition: 0.5s all;
}
.menu li a:hover:before{
   right: 0;
}
/*-----------FIM-------------*/

/*----------MENU NAVEGAÇÃO----------*/
body {
       font-family: 'Abel', sans-serif;
}
 
header {
      width: 100%;
}
 
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
      z-index: 10;
}
 
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      z-index: 10;
}
 
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 10;
}
 
nav ul {
      line-height: 55px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      z-index: 10;
}
 
nav ul {
      background: #000;
      z-index: 10;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;
      z-index: 10;
}
 
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      z-index: 10;
}

/*SUBISTITUI O MENU NAV */
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
      z-index: 5;
}

.fa{
  margin-top: 17px;
}
/*------------FIM-------------*/
/*MENU FIM*/


/*BARRA DE ROLAGEM*/
::-webkit-scrollbar{
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #808080;
}
/*-------FIM-------*/


html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}


/*----CODIGO IMAGEM----*/
.card {
      position: absolute;
      width: 45%;
      height: 100%;
      background: rgba(0,0,0,.1);
      border-bottom-right-radius: 340px;
      left: 0;
      border: none;
}

#img01{
     background-image: url('../Imagens/servicos.jpg');
     position: absolute;
     border-bottom-right-radius: 340px;
     background-size: cover;
     background-position: center;
     width: 100%;
     opacity: .3;
}

.card-img {
      background-position: center;
      width: 80%;
      height: 100%;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
}
/*------------FIM-------------*/


/*---------LOGIN---------*/
.tela{
  height: 100%;
  position: relative;
}

/*CADASTRO*/
.form {
 position: absolute;
 top: 15%;
 right: 0;
 height: 79%;
 width: 55%;
}

.group_title{
  margin-bottom: 16px;
  transform: translateY(-45%);
  text-align: center;
}

.form-section {
 position: absolute;
 padding: 40px 20px 5px;
 top: 13%;
 transform: translate(45%);
 width: 50%;
 border: 1px solid silver;
 box-shadow: 4px 4px 4px silver;
 background: white;
}

.group {
 margin-bottom: 18px;
}

.group:nth-child(2){
  margin-bottom: 10px;
}

.control {
 width: 100%;
 padding: 8px;
 padding-bottom: 3px;
 border: none;
 border-bottom: 1px solid silver;
 border-radius: 0;
 transition: all 2s;
}

/*ICONE DE ERRO DOS CAMPOS*/
#icon_error_email,
#icon_error_senha{
  width: 24px;
  position: absolute;
  top:10px; right:5px;
  z-index:10;
  transition: .2s;
  visibility: hidden;
  outline:none;
}
/*------------------*/

.verifica_email,
.verifica_senha{
 position: relative;
}

.verifica_email label,
.verifica_senha label{
   position: absolute;
   top: 8px;
   font-size: 18px;
   pointer-events: none;
   left: 0;
   transition: all .4s;
   color: #999;
}

.control:focus ~ label,
.control:valid ~ label{
  position: absolute;
  top: -15px;
  left: 0;
  color: #D56D05;
  font-size: 15px;
  font-weight: bolder;
}

.control:focus {
 outline: none;
 border-bottom-color: rgba(0,0,0,0.8);
}

.botao{
  display: block;
  background: #D56D05;
  color: white;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  border: 0;
  box-shadow: 4px 4px 4px silver;
}

.botao:active{
  position:relative;
  top:3px;
  box-shadow:none;
}

.m20 {
 margin-top: 20px;
}

.link {
 text-decoration: none;
 color: silver;
 font-weight: 300;
}

.heading {
 font-size: 25px;
 letter-spacing: 2px;
 font-weight: 200;
}
/*-----------FIM-----------*/


/*--------RODAPE--------*/
.rodape{
  background: rgba(0,0,0,.9);
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  padding: 8px;
  font-size: 14px;
}
/*---------FIM----------*/


/*****************--------RESPONSIVIDADE--------******************/
/*ATIVA O CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/ 
@media(max-width: 1200px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
            z-index: 10;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
            z-index: 10;
      }
 
      nav.black ul {
            background: #000;
            z-index: 10;
      }
 
      .showing {
            max-height: 34em;
            z-index: 10;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 0;
            text-align: center;
      }

      .menu-icon {
            display: block;
            z-index: 8;
      }

      .menu li a:hover:before{
        right: 10%;
      }
}
/*--------------FIM------------------*/

/* PIXEL INFORMADA */
@media screen and (max-width: 765px){
   .form {
   width: 100%;
  }
}
/*-------- FIM--------*/

/*****************--------FIM--------******************/
