/*--------- CORPO ---------*/
body{
  user-select: none;
}

.conteudo{
	position: fixed;
	height: 87%;
	right: 0;
	width: 81%;
	transition: .7s;
}

.conteudo-container{
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  background: rgba(0,0,0,0.1);
}


.group-conteudo{
  padding-bottom: 20px;
  overflow: auto;
  display: block;
  text-align: center;
  background: white;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  /*transform: translate(8px,20px);*/
  top: 17px;
  position: relative;
}

.group-conteudo::-webkit-scrollbar { width:5px; background: #00beaa;}
.group-conteudo::-webkit-scrollbar-track { background: #4e4e4e; }
.group-conteudo::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
.group-conteudo::-webkit-scrollbar-corner { visibility: hidden;}
.group-conteudo::-webkit-resizer { visibility: hidden; }

.botao{
    outline: none;
    padding: 8px;
    font-size: 14px;
    color: white;
    background: #D56D05;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-family: 'Abel', sans-serif;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

.btn{
    outline: none;
    position: absolute;
    padding: 8px;
    font-size: 14px;
    color: white;
    background: #D56D05;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-family: 'Abel', sans-serif;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    right: 0;
}

.upload{
    transform: translateY(30px);
    margin: 0 auto;
    position: relative;
    padding: 8px;
    width: 90%;
    height: 72%;
}

.upload-0{
  display: block;
}

.upload-0:nth-child(1){
  margin-bottom: 10px;
}

.upload-0:nth-child(2){
  margin-top: 30px;
  bottom: -30px;
  position: fixed;
  width: 100%;
}

.btns{
  width: 100%;
  background: silver;
}

.group-botao{
  display: inline-block;
  margin-right: 20px;
}

.group{
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.group:nth-child(1){
 width: 40%;
 float: left;

}

.group:nth-child(2){
  float: right;
}

#selectModelo{
  cursor: pointer;
}

.campo{
 position: relative;
 margin-bottom: 18px;
}

.campo:nth-child(3){
  padding: 2px;
  margin-top: 30px;
}

.campo:nth-child(3) h5{
  left: 0;
  color: #D56D05;
  top: 5px;
  position: relative;
}

.campo:nth-child(4){
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 4px solid #D56D05;
  border-radius: 10px;
}

.campo-acao{
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px;
  justify-content: center;
}

.campo label{
   position: absolute;
   top: 7px;
   font-size: 17px;
   pointer-events: none;
   left: 0;
   transition: all .4s;
   color: #999;
}

.control:focus ~ label,
.control:valid ~ label{
  position: absolute;
  top: -13px;
  left: 0;
  color: #D56D05;
  font-size: 15px;
  font-weight: bolder;
}

.control:focus{
 outline: none;
 border-bottom-color: rgba(0,0,0,0.8);
}

.control{
 width: 100%;
 padding: 8px;
 padding-bottom: 3px;
 border: none;
 border-bottom: 1px solid silver;
 border-radius: 0;
 transition: all 2s;
}

/* ------ IMAGEM E UPLOAD ------- */
.preview-img{
   border: 1px solid rgba(0,0,0,0.1);
   width: 200px;
   height: 280px;
   text-align: center;
   transition: .5s;
}

.preview-img{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 20px;
}

#imagem{
   cursor: pointer;
   display: none;
}

.dados-img{
  position: relative;
}

#btnUpload{
    width: 100%;
    right: 0;
    padding: 8px;
    font-size: 14px;
    color: #D56D05;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #D56D05;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

#btnUpload i{
   margin-right: 10px;
   font-size: 19px;
}
/* ------ FIM IMAGEM E UPLOAD ------- */
/*------ MODAIS ------- */

#body-info{
  overflow: auto;
}

#body-info::-webkit-scrollbar { width:5px; background: #00beaa;}
#body-info::-webkit-scrollbar-track { background: #4e4e4e; }
#body-info::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
#body-info::-webkit-scrollbar-corner { visibility: hidden;}
#body-info::-webkit-resizer { visibility: hidden; }


/*------ FIM MODAL ------- */
/*-------- CAMINHO PAGINA --------- */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul #li_caminho{
   display: inline-block;
   padding: -10px;
   margin: -10px;
   margin-left: 25px;
   margin-top: 8px;
}

ul #a_caminho{ /*TAG a (ANCORA)*/
	font-size: 11px;
	border: none;
	margin: 0;
	padding:0;
	color: black;
	text-decoration: none;
	transition: all .2s;
	text-transform: uppercase;
}

ul #a_caminho i{
	font-size: 14px;
}

ul #a_caminho:hover{
	color: #D56D05;
}

.caminho{
	  position: relative;
    height: 40px;
    border: none;
    z-index: 5;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

/*--------- FIM CAMINHO ---------*/
/*--------- FIM ---------*/

/*****************--------RESPONSIVIDADE--------******************/
/*CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/
@media (min-width: 1370px) and (max-width: 1920px){
    .conteudo{
      width: 83%;
    }
}

@media (max-height: 1080px){
   .conteudo{
     height: 89%;
   }
}

@media (max-width: 818px){
   .conteudo-container{
     width: 100%;
   }

   .conteudo{
     width: 100%;
   }
}

@media (max-width: 1080px){
   .upload-0{
    display: grid;
   }
   .upload-0:nth-child(2){
    position: relative;
   }

  .group:nth-child(1){
    float: none;
    width: 40%;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
  }

  .group:nth-child(2){
     margin-top: 20px;
  }

  .group-botao{
     display: block;
   }

  .group-botao > button, .group-botao > #btnUpload{
     width: 40%;
     margin-bottom: 15px;
   }
}
/*****************--------FIM RESPONSIVIDADE--------******************/

