/*--------- CORPO ---------*/
.conteudo{
	position: fixed;
	height: 87%;
	right: 0;
	width: 81%;
	transition: .7s;
}

.conteudo-container{
	right: 0;
	position: relative;
	height: 100%;
  width: 100%;
	overflow: auto;
  background: rgba(0,0,0,0.1);
}


.group-conteudo{
  padding: 0;
  overflow: auto;
  display: block;
  text-align: center;
  background: white;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  /*transform: translate(8px,20px);*/
  top: 17px;
  position: relative;
}

.group-conteudo::-webkit-scrollbar { width:5px; background: #00beaa;}
.group-conteudo::-webkit-scrollbar-track { background: #4e4e4e; }
.group-conteudo::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
.group-conteudo::-webkit-scrollbar-corner { visibility: hidden;}
.group-conteudo::-webkit-resizer { visibility: hidden; }

/*------ DOCUMENTAÇÃO API -----------  */
.group-title{
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 70px;
  position: relative;
  margin-bottom: 10px;
}

.group-title > h4{
  justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  margin-left: 40px;
  color:  #D56D05;
  float: left;
}

.group-title h4 i{
 color: black;
 margin-right: 15px;
}

.group-info{
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  color:  #D56D05;
  float: right;
  margin-right: 20px;
}

.group-info > .info-0{
   display: inline-block;
   margin-right: 20px;
}

.group-info > .info-0:nth-child(1) > h4 > a{
  color: #D56D05;
}

.group-info > .info-0:nth-child(2) > h5{
  background: #D56D05;
  color: white;
  padding: 3px;
}

.group-document{
  position: relative;
  width: 96%;
  height: 73%;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid rgba(0,0,0,0.2);
}

.group-document #group-linha{
  padding-top: 10px;
}

.group-opc{
  position: relative;
  padding: 9px;
  top: 10px;
  width: 96%;
  margin: 0 auto;
}


.botao{
    outline: none;
    width: 30%;
    padding-right: 10px;
    position: relative;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    color: #D56D05;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #D56D05;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

.botao:active{
  position:relative;
  top:3px;
  box-shadow:none;
}


.group-document::-webkit-scrollbar { width:5px; background: #00beaa;}
.group-document::-webkit-scrollbar-track { background: #4e4e4e; }
.group-document::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
.group-document::-webkit-scrollbar-corner { visibility: hidden;}
.group-document::-webkit-resizer { visibility: hidden; }

.group-api{
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}

/*------ FIM DOCUMENTAÇÃO API -----------  */
/*
.api-0:nth-child(1){
   width: 300px;
   float: left;
   margin-left: 10px;
}

.api-0:nth-child(2){
   width: 700px;
}

.api-1:nth-child(1){
   background: silver;
   width: 300px;
   float: left;
   margin-left: 30px;
}

.api-1:nth-child(2){
  background: silver;
  width: 700px;
}
*/

/*-------- CAMINHO PAGINA --------- */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul #li_caminho{
   display: inline-block;
   padding: -10px;
   margin: -10px;
   margin-left: 25px;
   margin-top: 8px;
}

ul #a_caminho{ /*TAG a (ANCORA)*/
	font-size: 11px;
	border: none;
	margin: 0;
	padding:0;
	color: black;
	text-decoration: none;
	transition: all .2s;
	text-transform: uppercase;
}

ul #a_caminho i{
	font-size: 14px;
}

ul #a_caminho:hover{
	color: #D56D05;
}

.caminho{
	  position: relative;
    height: 40px;
    border: none;
    z-index: 5;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

/*--------- FIM CAMINHO ---------*/

/*--------- FIM ---------*/

/*****************--------RESPONSIVIDADE--------******************/
/*CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/
@media (min-width: 1370px) and (max-width: 1920px){
    .conteudo{
      width: 83%;
    }
}

@media (max-height: 1080px){
   .conteudo{
     height: 89%;
   }
}

@media (min-width: 1635px){
   .conteudo{
    width: 86%;
   }

   .conteudo-container{
    width: 85%;
   }
}


@media (max-width: 818px){
   .conteudo-container{
     width: 100%;
   }

   .conteudo{
     width: 100%;
   }
}
/*****************--------FIM RESPONSIVIDADE--------******************/

