/*--------- CORPO ---------*/
.conteudo{
	position: fixed;
	height: 87%;
	right: 0;
	width: 81%;
	transition: .7s;
}

.conteudo-container{
	right: 0;
	position: relative;
	height: 100%;
  width: 100%;
	overflow: auto;
  background: rgba(0,0,0,0.1);
}


.group-conteudo{
  overflow: auto;
  padding: 0;
  display: block;
  text-align: center;
  background: white;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  /*transform: translate(8px,20px);*/
  top: 17px;
  position: relative;
}

.group-conteudo::-webkit-scrollbar { width:5px; background: #00beaa;}
.group-conteudo::-webkit-scrollbar-track { background: #4e4e4e; }
.group-conteudo::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
.group-conteudo::-webkit-scrollbar-corner { visibility: hidden;}
.group-conteudo::-webkit-resizer { visibility: hidden; }

.group-graficos-1{
 padding: 18px;
 margin: 15px;
 float: left;
 width: 460px;
 height: 300px;
}

.group-graficos-2{
 padding: 18px;
 margin: 15px;
 float: right;
 width: 460px;
 height: 300px;
}

/*-------- CAMINHO PAGINA --------- */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul #li_caminho{
   display: inline-block;
   padding: -10px;
   margin: -10px;
   margin-left: 25px;
   margin-top: 8px;
}

ul #a_caminho{ /*TAG a (ANCORA)*/
	font-size: 11px;
	border: none;
	margin: 0;
	padding:0;
	color: black;
	text-decoration: none;
	transition: all .2s;
	text-transform: uppercase;
}

ul #a_caminho i{
	font-size: 14px;
}

ul #a_caminho:hover{
	color: #D56D05;
}

.caminho{
	  position: relative;
    height: 40px;
    border: none;
    z-index: 5;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

/*--------- FIM CAMINHO ---------*/

/*--------- FIM ---------*/

/*****************--------RESPONSIVIDADE--------******************/
/*CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/
@media (min-width: 1370px) and (max-width: 1920px){
    .conteudo{
      width: 83%;
    }
}

@media (min-width: 1460px){
   .conteudo{
      width: 84%;
    }
    .group-conteudo{
      width: 97%;
    }
}

@media (min-width: 1635px){
   .conteudo{
    width: 86%;
   }

   .conteudo-container{
    width: 85%;
   }
}


@media (max-width: 818px){
   .conteudo-container{
     width: 100%;
   }

   .conteudo{
     width: 100%;
   }
}
/*****************--------FIM RESPONSIVIDADE--------******************/

