/*-------- CAMINHO PAGINA --------- */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul #li_caminho{
   display: inline-block;
   padding: -10px;
   margin: -10px;
   margin-left: 25px;
   margin-top: 8px;
}

ul #a_caminho{ /*TAG a (ANCORA)*/
  font-size: 11px;
  border: none;
  margin: 0;
  padding:0;
  color: black;
  text-decoration: none;
  transition: all .2s;
  text-transform: uppercase;
}

ul #a_caminho i{
  font-size: 14px;
}

ul #a_caminho:hover{
  color: #D56D05;
}

.caminho{
    position: relative;
    height: 40px;
    width: 100%;
    border: none;
    z-index: 5;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

/*--------- FIM CAMINHO ---------*/
/*--------- CORPO ---------*/
.conteudo{
	position: fixed;
	height: 87%;
	right: 0;
	width: 81%;
	transition: .7s;
}

.conteudo-container{
	right: 0;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
  background: rgba(0,0,0,0.1);
}


.group-conteudo{
  padding: 0;
  display: block;
  text-align: center;
  background: white;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  /*transform: translate(8px,20px);*/
  top: 17px;
  position: relative;
}

.conteudo-container::-webkit-scrollbar { width:5px; background: #00beaa;}
.conteudo-container::-webkit-scrollbar-track { background: #4e4e4e; }
.conteudo-container::-webkit-scrollbar-thumb { border-radius:20px; background: #D56D05;}
.conteudo-container::-webkit-scrollbar-corner { visibility: hidden;}
.conteudo-container::-webkit-resizer { visibility: hidden; }

/*.title-escolha{
  background: #222;
  border-bottom-left-radius: 320px;
  border-bottom-right-radius: 320px;
  height: 80px;
  opacity: .5;
  width: 100%;
}

.title-escolha h2{
   color: white;
   padding-top: 20px;
   font-weight: 400;
   font-size: 25px;
   font-weight: bolder; 
}
*/
.group-dados{
 padding: 18px;
 margin: 15px;
 position: fixed;
 width: 76%;
 border-bottom: 1px solid rgba(0,0,0,0.2);
}

.group-info{
  transform: translateY(250px);
}

/*----- TABELA DE DADOS ------*/
.tabela{
   border: 1px solid black;
   width: 60%;
   margin: 0 auto;
 }

.tabela tr #titulo{
  padding: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  font-weight: 400;
  font-size: 20px;
  background: rgba(0,0,0,0.1);
  color: #D56D05;
}

.tabela tr #titulo i{
  font-size: 20px;
  padding-left: 10px;
}

.dados-anunc{
 display: inline-block;
 margin: 0 auto;
 padding: 10px;
 width: 30%;
 text-align: center;
 border-radius: 20px;
 margin-right: 40px;
 margin-left: 15px;
}

.dados-anunc h4{
   color: #D56D05;
   font-weight: 400;
   font-size: 25px;
}

.dados-anunc h4 span{
  color: black;
  font-weight: 800;
  font-size: 42px;
  padding-left: 13px;
}
/*----- FIM ------*/

/*----- ABAS ------*/
.nav-abas #nav-tab{
  color: #D56D05;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: none;
}

.nav-abas #nav-tab a{
  color: #D56D05;
  font-weight: 800;
  background: rgba(0,0,0,0.1);
}

.nav-abas #nav-tab a i{
  margin-left: 9px;
}
/*----- FIM ABAS ------*/
/*--------- FIM ---------*/

/*--------- MODAIS ---------*/
#body-info{
  text-align: justify;
}
#ModalBonus .modal-footer #btnAceitar,#btnContratarPacoteBonus{
  border: none;
  background: #D56D05;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

#ModalAviso .modal-footer #btnContratarPacoteAviso{
  background: #D56D05;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
/*--------- FIM MODAIS ---------*/

/*****************--------RESPONSIVIDADE--------******************/
/*CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/
@media (min-width: 1370px) and (max-width: 1920px){
    .conteudo{
      width: 83%;
    }
}

@media (min-width: 1460px){
   .conteudo{
      width: 84%;
    }
    .group-conteudo{
      width: 97%;
    }
}

@media (min-width: 1635px){
   .conteudo{
    width: 86%;
   }

   .conteudo-container{
    width: 85%;
   }
}


@media (max-width: 818px){
   .conteudo-container{
     width: 100%;
   }

   .conteudo{
     width: 100%;
   }
}
/*****************--------FIM RESPONSIVIDADE--------******************/
/*--------------FIM------------------*/


