/*--------- CORPO ---------*/
body{
  user-select: none;
}
.conteudo{
	position: fixed;
	height: 87%;
	right: 0;
	width: 81%;
	transition: .7s;
}

.conteudo-container{
	right: 0;
	position: relative;
	height: 100%;
  width: 100%;
	overflow: auto;
  background: rgba(0,0,0,0.1);
}


.group-conteudo{
  padding: 0;
  overflow: auto;
  display: block;
  text-align: center;
  background: white;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  /*transform: translate(8px,20px);*/
  top: 17px;
  position: relative;
}

.group-conteudo::-webkit-scrollbar { width:5px; background: #00beaa;}
.group-conteudo::-webkit-scrollbar-track { background: #4e4e4e; }
.group-conteudo::-webkit-scrollbar-thumb { border-radius:17px; background: #D56D05;}
.group-conteudo::-webkit-scrollbar-corner { visibility: hidden;}
.group-conteudo::-webkit-resizer { visibility: hidden; }

.group-title{
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 70px;
  position: relative;
}

.group-title > h4{
  justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  margin-left: 40px;
  color:  #D56D05;
  float: left;
}

.group-title h4 i{
 color: black;
 margin-right: 15px;
}

.group-cadastro{
  position: relative;
  margin: 0 auto;
  border: 1px solid silver;
  padding: 20px;
  margin-top: 70px;
  width: 90%;
  border-radius: 40px;
}

.group-0{
 display: inline-block;
 width: 400px;
 padding: 18px;
 transition: .5s;
}

.group-0:nth-child(1){
  border-bottom-right-radius: 2px solid #D56D05;
  top: 0;
}

.group-0:nth-child(2){

}

.form{
  position: relative;
  margin: 0 auto;
  padding-top: 18px;
}

.form select{
  cursor: pointer;
}

.form label{
   position: absolute;
   top: 24px;
   font-size: 18px;
   pointer-events: none;
   left: 0;
   transition: all .4s;
   color: #999;
}

.campo:focus ~ label,
.campo:valid ~ label{
  position: absolute;
  top: -0px;
  left: 0;
  color: #D56D05;
  font-size: 15px;
  font-weight: bolder;
}

.campo:focus{
 outline: none;
 border-bottom-color: rgba(0,0,0,0.8);
}

.campo{
 display: block;
 width: 90%;
 padding: 3px;
 border-top: 0;
 border-left: 0;
 border-right: 0;
 border-bottom: 1px solid silver;
 border-radius: 0;
 transition: all 2s;
}

.icone-cel i{
  font-size: 160px;
  color: rgba(0,0,0,0.2);
  margin: 0 auto;
  transform: translateY(-20px);
}

.botao{
    outline: none;
    width: 30%;
    padding-right: 10px;
    position: relative;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    color: #D56D05;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #D56D05;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

.botao:active{
  position:relative;
  top:3px;
  box-shadow:none;
}

/*-------- CAMINHO PAGINA --------- */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul #li_caminho{
   display: inline-block;
   padding: -10px;
   margin: -10px;
   margin-left: 25px;
   margin-top: 8px;
}

ul #a_caminho{ /*TAG a (ANCORA)*/
	font-size: 11px;
	border: none;
	margin: 0;
	padding:0;
	color: black;
	text-decoration: none;
	transition: all .2s;
	text-transform: uppercase;
}

ul #a_caminho i{
	font-size: 14px;
}

ul #a_caminho:hover{
	color: #D56D05;
}

.caminho{
	  position: relative;
    height: 40px;
    border: none;
    z-index: 5;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

/*--------- FIM CAMINHO ---------*/
/*--------- MODAIS ---------*/
.blocoMenu tr th{
  margin-left: 20px;
}


/*--------- FIM MODAIS ---------*/


/*--------- FIM ---------*/

/*****************--------RESPONSIVIDADE--------******************/
/*CODIGO QUANDO CHEGAR NA PROPORÇÃO DE PIXEL INFORMADA*/
@media (min-width: 1370px) and (max-width: 1920px){
    .conteudo{
      width: 83%;
    }
}

@media (max-height: 1080px){
   .conteudo{
     height: 89%;
   }
}

@media (min-width: 1635px){
   .conteudo{
    width: 86%;
   }

   .conteudo-container{
    width: 85%;
   }
}


@media (max-width: 818px){
   .conteudo-container{
     width: 100%;
   }

   .conteudo{
     width: 100%;
   }
}
/*****************--------FIM RESPONSIVIDADE--------******************/

